{# Copyright 2015, 2016 Francis Meyvis #}
{# Render a googlemaps object (part of the Grav googlemaps plugin)#}
<div class="googlemaps_container">
    {# actual google map #}
    <div id="{{googlemaps.tagid}}" class="googlemaps" ></div>
    {# the information when clicking on a KML marker #}
    <div id="{{googlemaps.tagid}}_KmlInfo" ></div>
    {# the KML status (by default disabled) #}
    <div id="{{googlemaps.tagid}}_KmlStatus" ></div>
</div>
